#
# PAP admin client default properties
# 
# Documentation: https://twiki.cern.ch/twiki/bin/view/EGEE/AuthZPAPConfig
#
# -- Configuration file created by Ansible --
#
host={{ pap_host }}
port={{ pap_port }}
